version: '3.8'
services:
  wc-nginx:
    hostname: wcnginx
    container_name: wc-nginx
    image: nginx:latest
    restart: always
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - ./ui/dist/:/var/www/wc-nginx/dist/
      - ./assets/:/var/www/wc-nginx/assets/
      - ./modules/hello-world/dist/:/var/www/wc-nginx/modules/hello-world/
    ports:
      - "8080:80"
  wc-auth:
    hostname: wcauth
    container_name: wc-auth
    restart: on-failure
    volumes:
      - ./keys/public-key.pem:/etc/wc-auth/public-key.pem
      - ./keys/private-key.pem:/etc/wc-auth/private-key.pem
      - ./.env.services:/etc/wc-auth/.env
    build:
      context: ./auth
      dockerfile: Dockerfile
    depends_on:
      - wc-nginx
      - wc-db
  wc-api:
    hostname: wcapi
    container_name: wc-api
    restart: on-failure
    volumes:
      - ./keys/public-key.pem:/etc/wc-api/public-key.pem
      - ./.env.services:/etc/wc-api/.env
    build:
      context: ./api
      dockerfile: Dockerfile
    depends_on:
      - wc-nginx
      - wc-db
  wc-db:
    hostname: wcdb
    container_name: wc-db
    image: mariadb:latest
    environment:
      - MARIADB_ROOT_PASSWORD=$DB_ROOT_PASSWORD
      - MARIADB_USER=$DB_USER
      - MARIADB_PASSWORD=$DB_PASSWORD
      - MARIADB_DATABASE=$DB_NAME
    restart: on-failure
    volumes:
      - ./mariadb:/var/lib/mysql
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
networks:
  default:
    external: true
    name: "wc-network"
