version: '3.8'
services:
  wc-nginx:
    hostname: wc-nginx
    container_name: wc-nginx
    image: nginx:latest
    restart: always
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - ./ui/dist/:/var/www/wc-nginx/
      - ./ui/themes/:/var/www/wc-nginx/themes/
    ports:
      - "8080:80"
    networks:
      - wc-network
  wc-auth:
    hostname: wc-auth
    container_name: wc-auth
    restart: always
    volumes:
      - ./keys/public-key.pem:/etc/wc-auth/public-key.pem
      - ./keys/private-key.pem:/etc/wc-auth/private-key.pem
    networks:
      - wc-network
    build:
      context: ./auth
      dockerfile: Dockerfile
  wc-api:
    hostname: wc-api
    container_name: wc-api
    restart: always
    volumes:
      - ./keys/public-key.pem:/etc/wc-api/public-key.pem
    networks:
      - wc-network
    build:
      context: ./api
      dockerfile: Dockerfile

networks:
  wc-network:
    driver: bridge
