version: '3.8'
services:
    php-apache-environment:
        container_name: php-apache
        build:
            context: ./php
            dockerfile: Dockerfile
        volumes:
            - ./app/:/var/www/html/
            - ./php/api/:/var/www/html/api/
        ports:
        - 8000:80
