#navbar {
	background-color: var(--th-primary);
	display: flex;
	flex-direction: column;
	align-items: stretch;
	width: 10vw;
	min-height: 90vh;
	max-height: max-content;
	grid-row-start: 1;
	grid-row-end: 3;
	grid-column: 1;
}

#navbar a {
	text-decoration: none;
	min-width: auto;
	padding-top: 1vh;
	padding-bottom: 1vh;
	display: flex;
	align-items: center;
	justify-content: center;
	transition-duration: 500ms;
}

#navbar a p {
	color: var(--th-white);
	font-size: 25px;
	padding: 0;
	margin: 0;
}

#navbar a:hover {
	background-color: var(--th-gray-800);
	text-decoration: none;
}

#navbar a:hover p {
	color: var(--th-teal);
}

#navbar > :first-child {
	height: 10vh;
	padding: 0;
}

#navbar > :first-child p {
	color: var(--th-teal);
	height: max-content;
	font-weight: 700;
	font-size: 35px;
}

#navbar > :first-child:hover {
	background-color: var(--th-gray-800);
}

#navbar > :first-child:hover p {
	color: var(--th-white);
}
