#topbar {
	color: var(--th-white);
	background-color: var(--th-primary);
	grid-row: 1;
	grid-column: 2;
	display: flex;
	align-items: center;
	padding-left: 5vw;
	max-width: 90vw;
}

#topbar p {
	font-size: 3rem;
	padding: 0;
	margin: 0;
}
