.NavBar {
	grid-row-start: 1;
	grid-row-end: 3;
	background-color: var(--th-dark);
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 1vh;
	padding-top: 1vh;
	padding-right: 1vw;
	padding-left: 1vw;
}

.NavBarItem {
	background-color: var(--th-gray);
	border: 2px solid black;
	border-radius: 5px;
	height: max-content;
	width: 100%;
}
